/* * {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
} */

.freebooks {
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
  padding: 15px 40px 0px 40px;
}
.freebook-heading {
  /* padding: 15px 30px; */
}
.freebook-heading h1 {
  font-weight: 500;
  font-size: xx-large;
}
.freebook-heading p {
  font-size: large;
  margin: 10px 0px 20px 0px;
}
.slick-next:before {
  content: "→";
  color: red;
}
